
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTriviaLabel">Create or edit a Trivia</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.trivia.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.trivia.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_start">Start</label>
                <div class="input-group">
                    <input id="field_start" type="text" class="form-control" name="start" datetime-picker="{{dateformat}}" ng-model="vm.trivia.start" is-open="vm.datePickerOpenStatus.start"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('start')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.start.$invalid">
                <p class="help-block"
                    ng-show="editForm.start.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.start.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_duration">Duration</label>
            <input type="number" class="form-control" name="duration" id="field_duration"
                    ng-model="vm.trivia.duration"
                    required/>
            <div ng-show="editForm.duration.$invalid">
                <p class="help-block"
                    ng-show="editForm.duration.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.duration.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_level">Level</label>
            <input type="number" class="form-control" name="level" id="field_level"
                    ng-model="vm.trivia.level"
                    required min="1" max="10"/>
            <div ng-show="editForm.level.$invalid">
                <p class="help-block"
                    ng-show="editForm.level.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.level.$error.min" translate-value-min="1">
                    This field should be at least 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.level.$error.max">
                    This field cannot be more than 10.
                </p>
                <p class="help-block"
                    ng-show="editForm.level.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_question">Question</label>
            <select class="form-control" id="field_question" multiple name="question" ng-model="vm.trivia.questions" ng-options="question as question.question for question in vm.questions track by question.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
