<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Registration</h1>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" ng-show="vm.error">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorUserExists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorEmailExists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                The password and its confirmation do not match!
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.register()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="login">Username</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Your username"
                           ng-model="vm.registerAccount.login" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/" required>
                    <div ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block"
                               ng-show="form.login.$error.required">
                            Your username is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.minlength">
                            Your username is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.maxlength">
                            Your username cannot be longer than 50 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.pattern">
                            Your username can only contain letters and digits.
                    </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           ng-model="vm.registerAccount.firstName"
                           required/>
                    <div ng-show="form.nombre.$invalid">
                        <p class="help-block"
                           ng-show="form.nombre.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_genero">Genero</label>
                    <select class="form-control" name="genero" ng-model="vm.registerAccount.genero" id="field_genero" required>
                        <option value="MASCULINO">MASCULINO</option>
                        <option value="FEMENINO">FEMENINO</option>
                    </select>
                    <div ng-show="form.genero.$invalid">
                        <p class="help-block"
                           ng-show="form.genero.$error.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group" ngf-drop ngf-change="vm.setFoto($file, vm.tatuador)" ngf-pattern="'image/*'">
                    <label class="control-label" for="field_foto">Foto</label>
                    <div>
                        <img data-ng-src="{{'data:' + vm.registerAccount.fotoContentType + ';base64,' + vm.registerAccount.foto}}" style="max-height: 100px;" ng-if="vm.registerAccount.foto" alt="tatuador image"/>
                        <div ng-if="vm.registerAccount.foto" class="help-block clearfix">
                            <span class="pull-left">{{vm.registerAccount.fotoContentType}}, {{vm.byteSize(vm.registerAccount.foto)}}</span>
                            <button type="button" ng-click="vm.registerAccount.foto=null;vm.registerAccount.fotoContentType=null;"
                                    class="btn btn-default btn-xs pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                        <button type="button" ngf-select class="btn btn-default btn-block"
                                ngf-change="vm.setFoto($file, vm.registerAccount)" accept="image/*">
                            Add image
                        </button>
                    </div>
                    <input type="hidden" class="form-control" name="foto" id="field_foto"
                           ng-model="vm.registerAccount.foto"
                    />
                    <input type="hidden" class="form-control" name="fotoContentType" id="field_fotoContentType"
                           ng-model="vm.registerAccount.fotoContentType" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           ng-model="vm.registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required">
                            Your email is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email">
                            Your email is invalid.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength">
                            Your email is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength">
                            Your email cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                           ng-model="vm.registerAccount.password" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                               ng-show="form.password.$error.required">
                            Your password is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.minlength">
                            Your password is required to be at least 4 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.maxlength">
                            Your password cannot be longer than 50 characters.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password"
                           ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.required">
                            Your confirmation password is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>
